---
import Layout from '../layouts/Layout.astro';
import { COURSES, KNOWLEDGE_SPRINTS } from '../config'

const CTA_TOPICS = [
	{
		title: 'Evolua sua carreira',
		description: 'Combinamos teoria e prática, nossas aulas exploram diferentes conjuntos de habilidades.',
		image: '/icon-1.webp',
	},
	{
		title: 'Aprendizados na prática',
		description: 'A facilitação e curadoria do conteúdo é feita por pessoas experientes no mercado.',
		image: '/icon-2.webp',
	},
	{
		title: 'Aprenda quando e como você quiser',
		description: 'Oferecemos diferentes formatos de cursos, assim você pode aprender no seu tempo.',
		image: '/icon-3.webp',
	},
	{
		title: 'Cresça em comunidade',
		description: 'Ao se inscrever nos nossos cursos ou conteúdos, convidamos você a acessar nossa comunidade aberta.',
		image: '/icon-4.webp',
	},
]

const FAQ_ITEMS = [
	{
		title: '',
		content: "<p>Just a <strong>decription</strong> </p>"	
	}
]
---

<Layout title="Arara School">
	<main>	
		<!-- HOME -->
		<section class='bg-[#167ffc] text-white bg-[url(/illustration-hero.png)] bg-no-repeat bg-right-bottom bg-[length:auto_100%]'>
			<div class="max-w-screen-xl mx-auto px-4 py-32" style="--max--w-content:542px">
				<span class="font-bold">A SUA ESCOLA DE HABILIDADES</span>
				<h1 class="mt-2 text-4xl font-bold max-w-[--max--w-content]">Aprenda a projetar e evoluir experiências conversacionais</h1>
				<p class="mt-2 text-lg max-w-[--max--w-content]">A Arara School oferece cursos e workshops práticos para ajudar profissionais e empresas a criarem produtos e serviços conversacionais com boas experiências através de chatbots, voicebots ou multimodais.</p>
				<a href="/#cursos" class="mt-8 rounded-full px-8 h-12 font-bold text-xl bg-[#595bd4] w-fit flex items-center">Conheça nossos cursos</a>
				<a href="/#trilhas" class="mt-6 rounded-full px-8 h-12 font-bold text-xl bg-[#53d86a] w-fit flex items-center">Conheça nossas trilhas</a>
			</div>
		</section>

		<!-- CURSOS -->
		<section id="cursos">
			<div class="max-w-screen-xl mx-auto px-4 py-12">
				<h2 class="font-bold text-4xl">Curso online</h2>
				<p class="text-lg mt-2">Conjunto de cursos com aulas gravadas com muito conteúdo teórico e prático</p>
				<ul class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 mt-10">
					{COURSES.map((course) => (
						<li class="rounded-lg p-6 bg-[--card-background] text-[--card-text] flex flex-col items-stretch gap-6" style={`--card-background:${course.background}; --card-text:${course.text}`}>
							<div>
								<h3 class="text-3xl font-bold">{course.title}</h3>
								<p class="mt-2">{course.description}</p>
							</div>
							<a href={`/cursos/online/${course.id}`} class="mt-auto px-4 h-10 rounded-full bg-white text-[#167ffc] font-bold flex items-center w-fit transition-all hover:brightness-90">Me inscrever agora</a>
						</li>
					))}
				</ul>
			</div>
		</section>

		<!-- TRILHAS -->
		<section id="trilhas">
			<div class="max-w-screen-xl mx-auto px-4 py-12">
				<h2 class="font-bold text-4xl">Trilhas específicas</h2>
				<p class="text-lg mt-2">Nossas trilhas são ideais para quem procura um conteúdo específico e deseja aprendê-lo com mais rapidez.</p>
				<ul class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 mt-6">
					{KNOWLEDGE_SPRINTS.map((course) => (
						<li class="rounded-lg p-6 bg-[--card-background] text-[--card-text] flex flex-col items-stretch gap-6" style={`--card-background:${course.background}; --card-text:${course.text}`}>
							<div>
								<h3 class="text-3xl font-bold">{course.title}</h3>
								<p class="mt-2">{course.description}</p>
								</div>
								<a href="" class="mt-auto px-4 h-10 rounded-full bg-white text-[#167ffc] font-bold flex items-center w-fit transition-all hover:brightness-90">Me inscrever agora</a>
						</li>
					))}
				</ul>
			</div>
		</section>

		<!-- CTA -->
		<section class="bg-[#167ffc] text-white">
			<div class="max-w-screen-xl mx-auto px-4 py-32">
				<h2 class="text-4xl text-center font-bold">Aprenda novas habilidades e aprimore seus conhecimentos</h2>
				<div class="grid md:grid-cols-2 lg:grid-cols-4 items-center gap-6 max-w-screen-lg mx-auto mt-12">
					{CTA_TOPICS.map((item) => (
						<div class="flex flex-col items-center gap-2 text-center max-w-52">
							<img src={item.image} alt="" class="size-14" />
							<strong class="font-bold text-2xl">{item.title}</strong>
							<p>{item.description}</p>
						</div>
					))}
				</div>
			</div>
		</section>

		<!-- DATA -->
		<section class="bg-[#615dcc] text-white">
			<div class="max-w-screen-xl mx-auto px-4 py-24 bg-[url(/illustration-data.png)] bg-[length:1200px] bg-center bg-no-repeat">
				<h2 class="max-w-md mx-auto text-center text-3xl font-bold">27% das buscas na internet são feitas por interfaces conversacionais de voz. <span class="text-[#ffcb2f]">Se prepare para um futuro conversacional.</span></h2>
			</div>
		</section>

		<!-- SOBRE -->
		<section id="sobre" class="bg-[url(/illustration-about.png)] bg-[length:1200px_auto] bg-[top_right_calc(50%-640px-200px)] bg-no-repeat">
			<div class="max-w-screen-xl mx-auto px-4 py-24" style="--max-w-content:648px">
				<h2 class="font-bold text-4xl max-w-[--max-w-content]">Construindo um <span class="text-[#167ffc]">ecossistema referência mundial</span> de profissionais e empresas</h2>
				<p class="max-w-[--max-w-content] text-lg mt-9">Fundada em 2021, a Arara School é feita por pessoas que já estão na missão de educar e transformar profissionais da região há vários anos. Participamos ativamente das comunidades, criamos conteúdos e ajudamos de diferentes formas a evoluir o ecossistema brasileiro.</p>
				<p class="max-w-[--max-w-content] text-lg mt-4">Através da Arara School também oferecemos cursos online, cursos ao vivo e vários outros conteúdos para empoderar e capacitar profissionais e empresas.</p>
				<p class="max-w-[--max-w-content] text-lg mt-4">Nossa missão é <strong class="text-[#167ffc] font-bold">habilitar profissionais e empresas a projetarem experiências conversacionais relevantes</strong>, e a a nossa visão é de <strong class="text-[#167ffc] font-bold">construir um ecossistema de profissionais e empresas referência mundial.</strong></p>
			</div>
		</section>

		<!-- PARA QUEM -->
		<section class="bg-[#333545] text-white">
			<div class="max-w-screen-xl mx-auto px-4 py-28 flex items-center gap-6 justify-between">
				<div class="shrink-0">
					<h2 class="font-bold text-4xl">Para quem é?</h2>
				<ul class="list-disc pl-8 text-xl mt-6 space-y-2 max-w-[420px]">
					<li>Pessoas em transição de carreira</li>
					<li>Profissionas em busca de novas habilidades e conhecimentos</li>
					<li>Empresas em transição digital</li>
					<li>Lideranças e times inteiros de produtos, atendimento ou experiência de clientes (CX)</li>
					<li>Qualquer pessoa interessada em aprender mais sobre a indústria de chatbots, voicebots ou multimodais</li>
				</ul>
				</div>

				<div class='hidden md:block'>
					<img src="/para-quem.webp" alt="" class="w-full h-auto" />
				</div>
			</div>
		</section>

		<!-- FAQ -->
		<section>
			<div class="max-w-screen-xl mx-auto px-4 py-24">
				<div class="text-center">
					<h2 class="font-bold text-4xl">FAQ</h2>
					<p class="text-lg mt-2">Encontre algumas das perguntas frequentes e veja se elas respondem as suas dúvidas.</p>
					<div class="grid grid-cols-2 gap-4">
						<!-- {FAQ_ITEMS.map((item) => (
							// <div class="bg-[#333545] text-white p-6 rounded-lg">
							// 	<h3 class="font-bold text-2xl">{item.title}</h3>
							// 	<div class="mt-4" set:html={item.content}></div>
							// </div>
						))} -->
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>